openapi: 3.0.1
info:
  version: 1.0.11

  title: Climate Web Service
  description: REST api to store data from temperature sensors
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://beta.roger.com/v1

tags:
  - name: Users
  - name: Homes
  - name: Sensors

components:
  schemas:
    Home:
      description:
        Home where sensors will be located
      type: object
      properties:
        home_id:
          type: integer
          format: int32
        owner_id:
          type: integer
          format: int32
        name:
          type: string
        address:
          type: string
        description:
          type: string


    Sensor:
      type: object
      properties:
        sensor_id:
          type: string
        home_id:
          type: integer
          format: int32
        room:
          type: string

    SensorPrediction:
      type: object
      properties:
        sensor_id:
          type: string
        home_id:
          type: integer
          format: int32
        room:
          type: string
        temperature:
          type: number
          format: double



    User:
      type: object
      properties:
        user_id:
          type: integer
          format: int32
        name:
          type: string
        password:
          type: string
          format: password

    PostPutReturn:
      type: object
      properties:
        url:
          type: string

paths:
  /users:
    put:
      tags:
        - Users
      operationId: putUser
      description:
        Creates a new user with the specified data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                password:
                  type: string
                  format: password
      responses:
        '200':
          description:
            User updated successfully.

  /users/{user-id}:
    parameters:
      - name: "user-id"
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Users
      operationId: getUserById
      description:
        Returns the specified user from the system
      responses:
        '200':
          description:
            Returned a list with the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    post:
      tags:
        - Users
      operationId: postUserById
      description:
        Updates an existing user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                password:
                  type: string
                  format: password
      responses:
        200:
          description:
            User updated successfully
    delete:
      tags:
        - Users
      operationId: deleteUserById
      description:
        Deletes an existing user
      responses:
        200:
          description:
            User deleted successfully
  /homes:
    put:
      tags:
        - Homes
      operationId: putHome
      description:
        Create new home with the specified data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                address:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description:
            Home created successfully.
    get:
      tags:
        - Homes
      operationId: getHomes
      description:
        Returns a list of all homes in the system
      responses:
        '200':
          description:
            Returned a list of homes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Home'

  /homes/{home-id}:
    parameters:
      - name: "home-id"
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Homes
      operationId: getHomeById
      description:
        Returns the specified home from the system
      responses:
        '200':
          description:
            Returned a list with the home
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Home'
    post:
      tags:
        - Homes
      operationId: postHomeById
      description:
        Updates an existing home
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  type: string
                address:
                  type: string
                description:
                  type: string
      responses:
        200:
          description:
            Home updated successfully
    delete:
      tags:
        - Homes
      operationId: deleteHomeById
      description:
        Deletes an existing home
      responses:
        200:
          description:
            Home deleted successfully

  /homes/search:
    get:
      tags:
        - Homes
      operationId: searchHomes
      description:
        Searches for homes using the specified search criteria
      parameters:
        - name: "search-address"
          in: query
          required: false
          schema:
            type: string
        - name: "search-description"
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description:
            Returned a list of homes that match the search criteria
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Home'

  /sensors:
    put:
      tags:
        - Sensors
      operationId: putSensor
      description:
        Creates new sensor with the specified data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sensor'
      responses:
        '200':
          description:
            Sensor created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPutReturn'


  /sensors/home/{home-id}:
    parameters:
      - name: "home-id"
        in: path
        required: true
        schema:
          type: integer
          format: int32
    get:
      tags:
        - Sensors
      operationId: getSensorsByHomeId
      description:
        Returns a list of sensors for the specified home
      responses:
        '200':
          description:
            Returned a list of sensors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sensor'
  /sensors/{sensor-id}:
    parameters:
      - name: "sensor-id"
        in: path
        required: true
        schema:
          type: string
    delete:
      tags:
        - Sensors
      operationId: deleteSensorById
      description:
        Deletes an existing sensor
      responses:
        200:
          description:
            Sensor deleted successfully
    get:
      tags:
        - Sensors
      operationId: getSensorsById
      description:
        Returns a sensor
      responses:
        '200':
          description:
            Returned a sensors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorPrediction'
